* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monaco;
  background-color: beige;
}

form,
label,
main {
  display: grid;
  gap: 0.5rem;
}

#root {
  width: 45ch;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

header nav {
  display: flex;
  gap: 1ch;
}

a {
  color: teal;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1rem;
}

.radio {
  display: flex;
}

.taskborders {
  border: 3px dashed black;
  border-radius: 10%;
  background-color: brown;
  color: white;
  padding: 10px;
}

.taskborders:focus {
  border: 5px ridge lightgreen;
  border-radius: 10%;
  box-shadow: 5px 5px 5px yellowgreen;
  background-image: linear-gradient(-45deg, yellowgreen, darkgreen);
  padding: 10px;
}