* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monaco;

}

form,
label,
main {
  display: grid;
  gap: 0.5rem;
}

#root {
  width: 45ch;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

header nav {
  display: flex;
  gap: 1ch;
}

a {
  color: teal;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1rem;
}

.radio {
  display: flex;
}

.toggle {
  display: flex;
  align-items: space-around;
}

body {
  background-color: beige;
}

button:hover {
  cursor: pointer;
}

button {
  padding: 5px;
}

.event {
  display: grid;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px yellowgreen;
  background: linear-gradient(-45deg, yellowgreen, darkgreen);
  color: white;
  text-decoration: none;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.taskborders {
  border: 3px dashed black;
  background-color: brown;
  color: white;
  padding: 5px;
}

.taskborders:focus {
  border: 5px ridge lightgreen;
  border-radius: 10%;
  box-shadow: 5px 5px 5px yellowgreen;
  background: linear-gradient(-45deg, yellowgreen, darkgreen);
  padding: 10px;
}